$firstGray : #616161;
$lightBack : #c9c9c9;
$lightBorder : #bdbdbd;
$darkgray : #d7dee0;
$grayColor : gray;
$redishBack : #ef394e;
$Iicons: #7e7e7e;
$IiconsHover :  #4a5f73;
$footerColor : #4a4a4a;
$footerBack : #f5f5f5;
$footerText : #4b4b4b;
$paragraph : #535353;
$blue : #00bfd6;